{% load static %}
<!-- load css files-->
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">

<!-- navbar-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'music:index' %}">LWWN</a>
        </div>

        <!-- Items -->
        <div class="nav navbar-nav navbar-right">
            <li class="">
                <a href="{% url 'music:album-add' %}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Album
                </a>
            </li>
        </div>
    </div>
</nav>
<!--album details-->
<img src="{{ album.album_logo.url }}" alt="album logo" style="max-width:150px">
<h1> {{ album.album_title }}</h1>
<h3>{{ album.artist }}</h3>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<!-- form for favorite-->
<form action="{% url 'music:favorite' album.id%}" method="post">
{% csrf_token %}
{% for song in album.song_set.all %}
    <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
    <label for="song{{ forloop.counter }}">
        {{ song.song_title }}
        {% if song.is_favorite %}
          <img src="https://i.ya-webdesign.com/images/black-heart-icon-png-1.png"  style="max-width:16px">
        {% endif %}
    </label><br>
{% endfor %}
<input type="submit" value="Favorite">
</form>